<nav class="navbar header-container navbar-expand-lg ">
  <div class="container-fluid">
    <!-- Brand Logo/Name -->
    <div routerLink="/" role="button" class="mx-2 me-4 my-2 text-white display-6" href="#">Trekking APP</div>
    
    <!-- Navbar Toggler Button (for mobile screens) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav lead me-auto my-2 mb-lg-0">
        <!-- Navbar Link - Trekks -->
        <li class="nav-item mx-3">
          <button class="nav-link" [routerLink]="'trekks'">Trekks</button>
        </li>
        <!-- Navbar Link - Add Trekks -->
        <li class="nav-item mx-3">
          <button class="nav-link" [routerLink]="'trekks/add'">Add Trekks</button>
        </li> 
      </ul>
      
      <!-- Login and Sign Up Buttons -->
      <div class="d-flex mx-4">
        <button  *ngIf="!loginService.isLoggedIn" class="btn btn-lg btn-primary mx-2" [routerLink]="'login'">Sign In</button>
        <button  *ngIf="!loginService.isLoggedIn" class="btn btn-lg btn-info mx-2" [routerLink]="'signup'">Sign Up</button>
        <button *ngIf="loginService.isLoggedIn" class="btn btn-lg btn-danger mx-2" (click)="logout()">Logout</button>
      </div> 
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
