.header-container {
    background-color: rgb(250, 189, 199); /* Transparent background color */
    width: 100%;
    z-index: 1000; /* Ensure it appears above other content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
  }
  
  @media (max-width: 992px) {
    .header-container {
      background-color: rgba(197, 43, 197, 0.95); /* Make the background less transparent on smaller screens */
    }
  }
  