<div class="container ">
    <div class="col " [ngClass]="formStatus">
        <h2 class="text-center">Add Trekk</h2>
        <form (ngSubmit)="onSubmit()"  [formGroup]="reactiveForm"  class="border m-5 p-5">
            <div class="row">
                <div class="col-md-6 ">
                    <label htmlFor="trekkName " >Trekk Name: <span class="text-danger"> *</span> </label>
                    <input type="text"  class="form-control " formControlName="trekkName" id="trekkName" >
                </div>
                <div class="col-md-6">
                    <label htmlFor="trekkingPoint" >Trekk Point:<span class="text-danger"> *</span> </label>
                    <input type="text"class="form-control" formControlName="trekkingPoint" id="trekkingPoint">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label htmlFor="city" >City: <span class="text-danger"> *</span> </label>
                    <input type="text"  class="form-control" formControlName="city" id="city">
                </div>
                <div class="col-md-6">
                    <label htmlFor="pickupPoint">Pickup Point: <span class="text-danger"> *</span></label>
                    <input type="text"   class="form-control" formControlName="pickupPoint" id="pickupPoint">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label htmlFor="trekkDate" >Starting Date: <span class="text-danger"> *</span> </label>
                    <input type="date" class="form-control" formControlName="trekkDate" id="trekkDate">
                </div>
                <div class="col-md-6">
                    <label htmlFor="charges" >Charges :<span class="text-danger"> *</span> </label>
                    <input type="number"  class="form-control " formControlName="charges" id="charges">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 my-2">
                   
                        <label htmlFor="image">Image<span class="text-danger"> *</span></label>
                        <input type="text"  formControlName="image" id="image"
                            required class="form-control">
                </div>
            </div>
            
            <div class="row">
                
                <div class="col mt-3 text-center">
                    <input type="submit" class="btn btn-primary " value="Submit" [disabled]="reactiveForm.invalid">
                        
                </div>
                
            </div>
        </form>

    </div>
</div>
<router-outlet></router-outlet>