#container {
    width: 50vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-image: url('https://uploads-ssl.webflow.com/619d13e80ade2262a82fd234/619e65309701c11236eecda3_undraw_adventure_map_hnin%20(2)-p-800.png');
    background-size: contain;
    background-position: center;
  }
  
  @media (max-width: 768px) {
    #container {
      width: 100vw; /* Take full width on smaller screens */
      height: 50vh; /* Adjust height accordingly */
    }
  }
  