<div class="row">
  <div class="col-12 py-3 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let trekk of trekkList">
    <div class="card shadow rounded">
      <img src="{{trekk.image}}" class="card-img-top p-3" alt="..." style="max-height: 200px;">
      <div class="card-body">
        <h5 class="card-title text-center"  [ngStyle]="{ 'color': getDetailsColor() }">
          {{trekk.trekkName}}
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Trekking Point:</strong> {{trekk.trekkingPoint}}
          </li>
          <li class="list-group-item">
            <strong>City:</strong> {{trekk.city}}
          </li>
          <li class="list-group-item">
            <strong>Pickup Point:</strong> {{trekk.pickupPoint}}
          </li>
          <li class="list-group-item">
            <strong>Trekk Date:</strong> {{trekk.trekkDate | date}}
          </li>
          <li class="list-group-item">
            <strong>Charges:</strong>  {{trekk.charges | currency:'INR'}}
          </li>
        </ul>
        <div class="text-center mt-3">
          <button class="btn btn-outline-primary m-1" [routerLink]="['/trekks/'+trekk.id]">View Trekk</button>
          <button *ngIf="loginService.isLoggedIn" class="btn btn-danger m-1" (click)="deleteTrekk(trekk.id)">Delete</button>
          <button *ngIf="loginService.isLoggedIn" class="btn btn-outline-warning m-1" [routerLink]="['/trekks/update/'+trekk.id]">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
