<div class="row">
    <div class="col-12 py-3 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let trekk of trekkList">
      <div class="card">
        <img src={{trekk.image}} class="img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            {{trekk.trekkName}}
          </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Trekking Point : {{trekk.trekkingPoint}}
        </li>
        <li class="list-group-item">
          City : {{trekk.city}}
        </li>
        <li class="list-group-item">
          Pickup Point : {{trekk.pickupPoint}}
        </li>

        <li class="list-group-item">
          Trekk Date : {{trekk.trekkDate}} 
          </li>
          <li class="list-group-item">
           Charges : {{trekk.charges}} 
          </li>
      </ul>
      <div class="card-body text-center">
        <!-- Router Link to send the id with the Route so that the next component can use it -->
        <button class="btn btn-outline-success m-1" [routerLink]="['/trekks',trekk.id]">View Trekk</button>
        <button [hidden]="!loginService.isLoggedIn" class="btn btn-danger m-1" (click)="deleteTrekk(trekk.id)" >Delete</button>
        <button [hidden]="!loginService.isLoggedIn" class="btn btn-outline-warning m-1" [routerLink]="['/update',trekk.id]">Update</button>
      </div>
    </div>
  </div>
  </div>