<!-- <div class="d-flex justify-content-center align-items-center h-75"
    *ngIf="trekkData == null || trekkData == undefined">
    <div class="spinner-grow text-success" role="status">
    </div>
</div> -->

<div class="row container my-2 p-2 bg-light rounded-4" *ngIf="trekkData != null || trekkData!= undefined ">
    <div class="col text-success display-5 text-center mb-5">
        {{trekkData.trekkName}}
    </div>
</div>
<div class="row container">
        <div class="col-md-6">
            <div class="wrapper">
                <div>
                    <img [src]="trekkData.image" alt="">
                </div>
            </div>

        </div>


        <div class="col-md-6" id="accordionPanelsStayOpenExample">

            <h2> Trekk Details</h2>
            <div class="my-2">Trekking Point : {{trekkData.trekkingPoint}} </div>
            <div class="my-2"> City : {{trekkData.city}} </div>
            <div class="my-2">Pickup Point : {{trekkData.pickupPoint}} </div>
            <div class="my-2">Trekk Date : {{trekkData.trekkDate |date}} </div>
            <div class="my-2">Charges : {{trekkData.charges}}</div>
            <button class="btn btn-primary" routerLink="/trekks">Back</button>
        </div>
 </div>
