.backimg {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('https://cdn.dribbble.com/users/441305/screenshots/11835783/media/473e35fcb66520ea65e18fbbb83c6648.png?resize=768x576&vertical=center');
    background-size: cover;
   
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  .btn-container {
    padding: 20px;
    text-align: center;
  }
  