<div class=" py-5 backimg">
  <div class="text-succes display-1 text-center" style="color: green;">
    <h1>Explore the Sahyadri</h1>
  </div>
  <div class="lead text-center my-4 d-flex justify-content-center flex-column">

    <div class="px-5 my-4">
      Sahyadri_Navigator is a trekking management web application that enhance the management of trekking
      activities.
      The system aims to provide users-Trekking Club to post the trekks and for trekkers to book the upcoming
      trekks of
      their dream life. We also provide the facility of User-Friendly UI to the users for a much more hassle-free
      experience by using a microservices architecture and following the Agile methodology.
    </div>
  </div>
  <div class="my-4 text-center">
      <button class="btn btn-outline-danger" [routerLink]="'trekks'"> Explore!</button>
    
  </div>
</div>