<div class="container ">
    <div class="col" >
        <h2 class="text-center">Update Trekk</h2>
        <form (ngSubmit)="handleUpdateData()" #formData='ngForm'  class="border m-5 p-5">
            <div class="row">
                <div class="col-md-6">
                    <label htmlFor="trekkName" >Trekk Name:  </label>
                    <input type="text"  #trekkName="ngModel"  [(ngModel)]="trekkData.trekkName" class="form-control" name="trekkName" id="trekkName" >
                </div>
                <div class="col-md-6">
                    <label htmlFor="trekkingPoint" >Trekk Point: </label>
                    <input type="text" #trekkingPoint="ngModel"   [(ngModel)]="trekkData.trekkingPoint" class="form-control" name="trekkingPoint" id="trekkingPoint">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label htmlFor="city" >City:  </label>
                    <input type="text"  #city="ngModel"  [(ngModel)]="trekkData.city" class="form-control" name="city" id="city">
                </div>
                <div class="col-md-6">
                    <label htmlFor="pickupPoint">Pickup Point: </label>
                    <input type="text"  #pickupPoint="ngModel"   [(ngModel)]="trekkData.pickupPoint"  class="form-control" name="pickupPoint" id="pickupPoint">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label htmlFor="trekkDate" >Starting Date:  </label>
                    <input type="date" #trekkDate="ngModel"  [(ngModel)]="trekkData.trekkDate" class="form-control" name="trekkDate" id="trekkDate">
                </div>
                <div class="col-md-6">
                    <label htmlFor="charges" >Charges : </label>
                    <input type="number" #charges="ngModel"    [(ngModel)]="trekkData.charges" class="form-control " name="charges" id="charges">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 my-2">
                   
                        <label htmlFor="image">Image<span class="text-danger"> *</span></label>
                        <input type="text"  name="image" id="image" #image="ngModel"
                          [(ngModel)]="trekkData.image"   required class="form-control">
                </div>
            </div>
            
            <div class="row">
                
                <div class="col mt-3 text-center">
                    <input type="submit" class="btn btn-primary " value="Submit" [disabled]="formData.invalid">
                        
                </div>
                
            </div>
        </form>

    </div>
</div>
<router-outlet></router-outlet>